numpy==1.18.1
boto3==1.13.5
jupyter-core==4.6.1
nbconvert==5.6.1
nbformat==5.0.4
traitlets==4.3.3
jupyter_client==6.1.2
notebook==6.0.3
pymc3 >=3.9.2
pandas==1.0.3
scipy==1.5.0
mkl==2019.0
paramiko==2.10.1
requests==2.24.0
plotly==4.9.0
python-dotenv==0.14.0
